name: Build
on:
  push:
    branches:
      - "*"
    paths:
      - "go.*"
      - "**/*.go"
  pull_request:
    paths:
      - "go.*"
      - "**/*.go"
  workflow_call:

permissions:
  contents: read

jobs:
  golangci:
    name: build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-go@v6
        with:
          go-version: stable
      - name: build
        run: |
          make all
