name: Lint
on:
  push:
    branches:
      - "*"
    paths:
      - "go.*"
      - "**/*.go"
  pull_request:
    paths:
      - "go.*"
      - "**/*.go"
  workflow_call:

permissions:
  contents: read

jobs:
  golangci:
    name: lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-go@v5
        with:
          go-version: stable
      - name: download dependencies
        run: |
          go mod download
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v9
        with:
          version: v2.6.2
