name: Test & Build
on:
  push:
    branches:
      - "*"
    paths:
      - "go.*"
      - "**/*.go"
  pull_request:
    paths:
      - "go.*"
      - "**/*.go"
  workflow_dispatch:

permissions:
  contents: read

jobs:
  golangci:
    name: test and build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-go@v6
        with:
          go-version: stable
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v9
        with:
          version: v2.6.2
      - name: build
        run: |
          make all
